@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 10%;
  display: flex;
  text-align: center;
  align-items: center;
}

.navbar .navlinks {
  position: absolute;
  display: none;
}
