@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$fontOne: "Roboto", sans-serif;
$fontTwo: "Raleway", sans-serif;
$fontThree: "Kanit", sans-serif;

body {
  padding: 0;
  background-color: #121212;
  margin: 0;
}
//  navbar
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 10%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  .navbar-Left {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    .navbar-Left-Wrap {
      height: 100%;
      width: 250px;
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding: 0;
      gap: 15px;
      margin: 0;

      .nav-Img {
        border-radius: 50%;
        width: 65px;
        height: 65px;
        background-image: url("./assets/designer.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .nav-Text-Wrap {
        .nav-Name-Text-1 {
          font-family: $fontTwo;
          color: #ccc;
          letter-spacing: 1px;
          font-weight: 700;
          padding: 0;
          margin: 0;
          height: 20px;
        }

        .nav-Name-Text-2 {
          font-family: $fontTwo;
          font-weight: 600;
          color: #757575;
          padding: 0;
          margin: 0;
          height: 20px;
          font-size: 1rem;
        }
      }
    }
  }

  .navbar-Right {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    .navbar-Right-Wrap {
      width: 50px;
      height: 50px;
      display: block;

      .navbar-Bars-Wrap {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;

        #bars {
          height: 4px;
          width: 100%;
          border-radius: 15px;
          background-color: rgb(224, 224, 224);
          transition: all 150ms ease-in-out;
        }

        .bar-One {
          position: absolute;
          top: 15px;
          left: 0;
        }

        .bar-Two {
          position: absolute;
          top: 25px;
          left: 0;
        }

        .bar-Three {
          position: absolute;
          top: 35px;
          left: 0;
        }
      }

      .navbar-Bars-Wrap:hover {
        cursor: pointer;

        .bar-One {
          position: absolute;
          top: 11px;
          left: 0;
        }

        .bar-Three {
          position: absolute;
          top: 39px;
          left: 0;
        }
      }
    }
  }

  .navlinks {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #121212;
    transition: all 500ms ease-in-out;
    z-index: 100;

    .nav-Bars-Wrap {
      position: absolute;
      height: 20%;
      width: 80%;

      .nav-Close-Btn {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 35px;
        right: 5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        cursor: pointer;
        z-index: 15;

        #nav-Bars {
          width: 100%;
          height: 3px;
          background-color: white;
          border-radius: 15px;
        }

        .nav-Bar-One {
          position: absolute;
          top: 25px;
          left: 0;
          transform: rotate(45deg);
        }

        .nav-Bar-Two {
          transform: rotate(-45deg);
          position: absolute;
          top: 25px;
          right: 0;
        }
      }
    }

    .nav-Left-Right-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      // justify-content: center;

      .navlinks-Left {
        width: 40%;
        height: 100%;

        .navlinks-Img {
          background-image: url("./assets/nav.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 100%;
          position: relative;
        }

        .navlinks-Img::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.479);
          top: 0;
          left: 0;
        }
      }

      .navlinks-Right {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        // justify-content: center;
        position: relative;

        .navlinks-Right-Wrapper {
          position: absolute;
          left: 50px;
          top: 20%;
          height: 60%;
          width: 50%;
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;

          .navlinks-Title-Text {
            font-size: 2.6rem;
            font-weight: 500;
            font-family: $fontTwo;
            color: white;
          }

          .navlinks-Right-Wrap {
            width: 40%;
            height: 100%;

            ul {
              padding: 0;
              margin: 0;
              list-style: none;

              li {
                display: flex;
                padding: 0.3rem;

                a {
                  font-size: 2.5rem;
                  text-decoration: none;
                  font-family: $fontThree;
                  color: #ccc;
                  transition: all 250ms ease-in-out;
                }

                a:hover {
                  color: orangered;
                }
              }
            }
          }
        }
      }
    }
  }

  .navlinks.active {
    transform: translateY(200%);
    z-index: 100;
  }
}
//Navbar responsvness
@media screen and (max-width: 768px) {
  .navbar {
    .navbar-Left {
      width: 55%;

      .navbar-Left-Wrap {
        .nav-Text-Wrap {
          .nav-Name-Text-2 {
            font-size: 0.8rem;
          }
        }
      }
    }

    .navbar-Right {
      height: 100%;
      width: 20%;
    }
    //  Navlinks Responsvness
    .navlinks {
      .nav-Bars-Wrap {
        .nav-Close-Btn {
          top: 25px;
          right: 2.5rem;

          #nav-Bars {
            width: 100%;
            height: 3px;
            background-color: white;
            border-radius: 15px;
          }

          .nav-Bar-One {
            position: absolute;
            top: 25px;
            left: 0;
            transform: rotate(45deg);
          }

          .nav-Bar-Two {
            transform: rotate(-45deg);
            position: absolute;
            top: 25px;
            right: 0;
          }
        }
      }

      .nav-Left-Right-wrapper {
        .navlinks-Right {
          .navlinks-Right-Wrapper {
            width: 90%;

            .navlinks-Title-Text {
              font-size: 1.5rem;
            }

            .navlinks-Right-Wrap {
              width: 100%;
              height: 100%;

              ul {
                li {
                  a {
                    font-size: 1.5rem;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// triangels
.background-Deco-Wrap {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: -1;

  #triangels {
    height: 600px;
    width: 500px;
    border: solid rgb(97, 97, 97) 1px;
    position: absolute;
    transform: rotate(15deg);
  }

  .triangel-One {
    bottom: -5rem;
    right: -15rem;
  }

  .triangel-Two {
    top: -5rem;
    left: -15rem;
  }
}
//  Header
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .header-wrapper {
    width: 580px;
    height: 160px;
    z-index: -1;
    position: relative;

    .header-text-1 {
      font-family: $fontTwo;
      color: #858383;
      font-weight: 600;
      padding: 0;
      margin: 0;
      letter-spacing: 5px;
      transition: 550ms ease-in-out;
    }

    .header-text-2 {
      font-family: $fontTwo;
      color: #ccc;
      font-weight: 600;
      padding: 0;
      margin: 0;
      font-size: 2.5rem;
      letter-spacing: 5px;
      transition: 550ms ease-in-out;
    }

    .active {
      opacity: 0;
    }
  }
}
// styling size 768px
@media screen and (max-width: 768px) {
  .header {
    .header-wrapper {
      width: 350px;

      .header-text-2 {
        font-size: 1.5rem;
      }
    }
  }
}
//  ABOUT
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: -20;

  .about-Wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 1500ms ease-in-out;
    opacity: 0;
    transform: translateY(100%);

    .about-Left {
      width: 30%;
      height: 80%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: end;
      justify-content: center;

      .about-Left-Wrap {
        height: 85%;
        width: 60%;

        .about-Left-Wrap-Img {
          background-image: url("./assets/about.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 100%;
          width: 100%;
          position: relative;
          z-index: -11;

          &::before {
            content: "";
            position: absolute;
            z-index: -10;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(29, 29, 29, 0.479);
          }
        }
      }
    }

    .about-Right {
      width: 60%;
      height: 80%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;

      .about-Right-Wrap {
        width: 60%;
        height: 80%;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        justify-content: center;

        .about-Text-Wrap {
          position: relative;
          text-align: center;
          align-items: start;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .about-Text-1 {
            position: absolute;
            font-size: 10rem;
            color: #2e2e2e;
            font-family: $fontThree;
            top: -10rem;
            z-index: -15;
            padding: 0;
            margin: 0;
            letter-spacing: 5px;
            left: -5rem;
          }

          .about-Text-2 {
            position: absolute;
            font-size: 2rem;
            color: white;
            font-family: $fontTwo;
            top: -3rem;
            z-index: -15;
            padding: 0;
            margin: 0;
          }

          .about-Text-3 {
            font-size: 1rem;
            color: rgb(148, 147, 147);
            font-family: $fontTwo;
            height: 150px;
            font-weight: 300;
            display: flex;
            text-align: start;
            align-items: center;
            line-height: 2;
            position: relative;
            z-index: -15;
            width: 80%;
          }
        }

        .buttons-Wrap {
          height: 50px;
          display: flex;
          gap: 10px;

          #buttons-Links {
            height: 50px;
            width: 50px;
            background-color: #2e2e2e;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: white;
            text-decoration: none;
            border-radius: 50%;
            font-size: 1.5rem;
          }
        }

        .contact-Me-Wrap {
          display: flex;
          flex-direction: column;
          text-align: start;
          align-items: start;
          justify-content: center;
          margin-top: 1.5rem;

          .contact-Title-Text {
            color: white;
            font-family: $fontTwo;
            font-size: 1rem;
          }

          .email-Wrap,
          .phone-Wrap {
            padding: 0;
            margin: 0;
            display: flex;
            gap: 5px;
            margin-bottom: 15px;

            .email-Title,
            .phone-Title {
              color: #757575;
              font-family: $fontTwo;
              padding: 0;
              margin: 0;
            }

            .email-Text,
            .phone-Text {
              padding: 0;
              margin: 0;
              color: #a31717;
              font-family: $fontTwo;
            }
          }
        }
      }
    }
  }

  .about-Active {
    transform: translateY(0);
    opacity: 1;
  }
}
// about responsvness
@media screen and (max-width: 1440px) {
  .about {
    .about-Wrap {
      .about-Left {
        width: 30%;
        height: 80%;

        .about-Left-Wrap {
          height: 75%;
          width: 100%;
        }
      }

      .about-Right {
        width: 60%;
        height: 80%;

        .about-Right-Wrap {
          width: 80%;
          height: 80%;

          .about-Text-Wrap {
            .about-Text-1 {
              font-size: 7.5rem;
              color: #2e2e2e;
              font-family: $fontThree;
              top: -10rem;
              z-index: -15;
              left: -1rem;
            }

            .about-Text-2 {
              font-size: 1.5rem;
              top: -5rem;
            }

            .about-Text-3 {
              font-size: 0.7rem;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    .about-Wrap {
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;

      .about-Left {
        display: none;
      }

      .about-Right {
        width: 90%;
        height: 90%;

        .about-Right-Wrap {
          width: 100%;
          height: 100%;

          .about-Text-Wrap {
            .about-Text-1 {
              font-size: 4.5rem;
            }

            .about-Text-2 {
              font-size: 1.4rem;
            }

            .about-Text-3 {
              font-size: 0.6rem;
            }
          }

          .contact-Me-Wrap {
            margin-top: 1rem;

            .contact-Title-Text {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
// service
.service {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  justify-content: center;

  .service-Wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 90%;
    width: 90%;
    overflow: hidden;

    .service-Top {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .service-Top-Wrap {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 50%;
        transition: all 700ms ease-in-out;
        transform: translateY(300%);
        position: relative;
        z-index: -15;

        .service-Top-Wrap-Text {
          width: 100%;
          height: 100%;

          .service-Top-Text-1 {
            color: rgb(87, 86, 86);
            font-family: $fontThree;
            font-weight: 600;
            letter-spacing: 5px;
            padding: 0;
            margin: 0;
          }

          .service-Top-Text-2 {
            padding: 0;
            margin: 0;
            color: white;
            font-family: $fontTwo;
            font-weight: 600;
            letter-spacing: 5px;
            font-size: 3.5rem;
          }
        }
      }

      .service-Active {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    .service-Bottom {
      height: 80%;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      z-index: -15;

      .service-Bottom-Wrap {
        width: 80%;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        transition: all 1500ms ease-in-out;
        transform: translateY(300%);

        #service-Card-Id {
          #service-Card-Wrap-Id {
            width: 350px;

            #service-Icons {
              color: #a31717;
              font-size: 3rem;
              margin-bottom: 35px;
            }

            .service-Text-Wrap {
              display: flex;
              flex-direction: column;
              text-align: center;
              align-items: center;
              justify-content: center;
              gap: 25px;

              .service-Text-1,
              .service-Text-2,
              .service-Text-3 {
                font-family: $fontThree;
                font-size: 1.5rem;
                color: white;
                padding: 0;
                margin: 0;
              }
            }
          }
        }
      }

      .service-Active {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }
}
// service responsvness
@media screen and (max-width: 1200px) {
  .service {
    height: 1300px;

    .service-Wrap {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      height: 90%;
      width: 90%;

      .service-Top {
        .service-Top-Wrap {
          .service-Top-Wrap-Text {
            .service-Top-Text-2 {
              font-size: 2.8rem;
            }
          }
        }
      }

      .service-Bottom {
        .service-Bottom-Wrap {
          height: 100%;
          flex-direction: column;
          text-align: center;
          align-items: center;
          justify-content: space-evenly;

          #service-Card-Id {
            #service-Card-Wrap-Id {
              margin-bottom: 5rem;

              #service-Icons {
                font-size: 2.4rem;
              }

              .service-Text-Wrap {
                .service-Text-1,
                .service-Text-2,
                .service-Text-3 {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .service {
    height: 1000px;

    .service-Wrap {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      height: 100%;
      width: 90%;

      .service-Top {
        .service-Top-Wrap {
          .service-Top-Wrap-Text {
            .service-Top-Text-2 {
              font-size: 2rem;
            }
          }
        }
      }

      .service-Bottom {
        .service-Bottom-Wrap {
          height: 100%;
          flex-direction: column;
          text-align: center;
          align-items: center;
          justify-content: space-evenly;

          #service-Card-Id {
            #service-Card-Wrap-Id {
              #service-Icons {
                font-size: 1.8rem;
              }

              .service-Text-Wrap {
                .service-Text-1,
                .service-Text-2,
                .service-Text-3 {
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
// projects
.projects {
  height: 2200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -15;

  .projects-Wrap {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;

    .Project-Top {
      height: 20%;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .project-Top-Wrap-Text {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        transition: all 1000ms ease-in-out;
        transform: translateY(300%);

        .Project-Top-Wrap-Text-1 {
          font-size: 1.5rem;
          color: rgb(112, 112, 112);
          font-weight: 500;
          font-family: $fontOne;
          padding: 0;
          margin: 0;
        }

        .Project-Top-Wrap-Text-2 {
          font-size: 3rem;
          color: white;
          font-weight: 500;
          font-family: $fontThree;
          padding: 0;
          margin: 0;
        }
      }

      .project-active {
        transform: translateY(0%);
        opacity: 1;
      }
    }

    .project-Bottom {
      height: 80%;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-top: 8rem;
      overflow: hidden;

      .project-Bottom-Wrap {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        gap: 10rem;
        transition: all 2500ms ease-in-out;
        transform: translateY(200%);
        opacity: 0;

        .project-Bottom-Card {
          display: flex;
          flex-direction: row;
          text-align: center;
          align-items: center;
          justify-content: center;
          height: 340px;
          width: 100%;

          .project-Bottom-Card-Left {
            width: 40%;
            height: 100%;

            .project-Left-Img-Wrap {
              display: flex;
              flex-direction: column;
              text-align: center;
              align-items: center;
              height: 100%;
              width: 100%;

              .project-Card-Img {
                height: 100%;
                width: 90%;
              }

              #project-Card-Img-1 {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("./assets/work1.jpg");
              }

              #project-Card-Img-2 {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("./assets/work2.jpg");
              }

              #project-Card-Img-3 {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("./assets/work3.jpg");
              }

              #project-Card-Img-4 {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("./assets/work4.jpg");
              }
            }
          }

          .project-Bottom-Card-Right {
            width: 40%;
            height: 100%;

            .project-Right-Text-Wrap {
              width: 90%;
              display: flex;
              flex-direction: column;
              text-align: start;
              align-items: start;
              justify-content: space-evenly;

              .project-Right-Text-1,
              .project-Right-Text-3 {
                font-size: 1rem;
                color: #757575;
                font-family: $fontTwo;
                width: 80%;
              }

              .project-Right-Text-2 {
                font-size: 2rem;
                color: white;
                font-family: $fontTwo;
                padding: 0;
                margin: 0;
              }

              .project-Link-Text {
                color: #a31717;
                font-family: $fontTwo;
                text-decoration: none;
              }
            }
          }
        }

        .reversed {
          display: flex;
          flex-direction: row-reverse;
        }
      }

      .project-active {
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projects {
    .projects-Wrap {
      .Project-Top {
        .project-Top-Wrap-Text {
          .Project-Top-Wrap-Text-1 {
            font-size: 1rem;
          }

          .Project-Top-Wrap-Text-2 {
            font-size: 2rem;
          }
        }

        .project-active {
          transform: translateY(0%);
          opacity: 1;
        }
      }

      .project-Bottom {
        .project-Bottom-Wrap {
          .project-Bottom-Card {
            .project-Bottom-Card-Right {
              width: 60%;
              height: 100%;

              .project-Right-Text-Wrap {
                width: 100%;

                .project-Right-Text-1,
                .project-Right-Text-3 {
                  font-size: 0.8rem;
                  width: 100%;
                }

                .project-Right-Text-2 {
                  font-size: 1rem;
                }
              }
            }
          }

          .reversed {
            display: flex;
            flex-direction: row-reverse;
          }
        }

        .project-active {
          transform: translateY(0%);
          opacity: 1;
        }
      }
    }
  }
}
// achivements
.achivements {
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  .achivements-Wrap {
    height: 90%;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;

    .achiv-Top {
      height: 10%;
      width: 100%;

      .achive-Top-Wrap {
        .achive-Top-Text-1 {
          color: rgb(87, 86, 86);
          font-family: $fontThree;
          font-weight: 600;
          letter-spacing: 5px;
          padding: 0;
          margin: 0;
        }

        .achive-Top-Text-2 {
          font-family: $fontTwo;
          color: #ccc;
          font-weight: 600;
          padding: 0;
          margin: 0;
          font-size: 2.5rem;
          letter-spacing: 5px;
        }
      }
    }
  }
}
